chart-studio
favicon
filelock
gitdb
GitPython
matplotlib
numpy
openpyxl
pandas
plotly
seaborn
streamlit
streamlit_super_slider
streamlit-aggrid
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-keyup
streamlit-option-menu
streamlit-pills
streamlit-plotly-events
streamlit-toggle-switch
streamlit-vertical-slider
xlrd